<div class="container p-4">
    <div class="flex flex-row items-center justify-between">
        <h1 class="font-bold text-3xl">Content Details</h1>
        <button (click)="openEditDialog()" class="button-primary flex items-center space-x-1.5">
            <hero-icon name="pencil" type="solid" class="w-4 h-4 text-white fill-white"></hero-icon>
            <span class="text-sm">Edit Content</span>
        </button>
    </div>
    <div *ngIf="content" class="w-full flex flex-col space-y-3 p-6 rounded-lg bg-orange-100 my-3">
        <div>
            <img *ngIf="content.thumbnail" [src]="thumbnailUrl+content.id" alt="Content Thumbnail" class="w-full h-full">
        </div>
        <h1 class="font-semibold text-lg">{{content.title}}</h1>
        <div class="text-justify" [innerHTML]="content.body"></div>
    </div>
    <div *ngIf="loading" class="w-full h-64 bg-gray-200 rounded-md animate-pulse my-3"></div>
</div>