<div class="max-w-md flex flex-col items-center justify-center mx-6 p-8 bg-white rounded-md sm:mx-0">
    <div class="flex flex-col items-center justify-center space-y-1 px-1 py-8">
        <hero-icon name="star" type="solid" class="w-12 h-12 text-yellow-400 fill-yellow-400 animate-bounce"></hero-icon>
        <h1 class="font-semibold text-xl">Congratulations!</h1>
        <span class="text-center">You have completed the {{data.title}} module</span>
    </div>
    <button (click)="continue()" class="button-primary">Continue</button>
</div>