<div class="container">
    <div class="flex flex-col space-y-2 divide-y divide-gray-300 border-y">
        <a *ngFor="let forum of forums" routerLink="../../forum/detail/{{forum.id}}" class="w-full flex flex-col space-y-2 p-4 bg-white tracking-wide focus:bg-gray-100">
            <div>
                <h2 class="font-semibold text-lg">{{forum.title}}</h2>
            </div>
            <div class="flex flex-row items-center justify-start space-x-2">
                <img [src]="profileImgUrl+forum.author.id" class="object-cover w-12 h-12 rounded-full">
                <div class="flex flex-col">
                    <span class="font-medium text-sm">{{forum.author.fullname}}</span>
                    <span class="text-xs text-gray-400"> {{forum.author.username}}</span>
                </div>
            </div>
            <div>
                <div class="text-sm text-justify" [innerHTML]="forum.body"></div>
            </div>
            <span class="font-medium text-xs text-gray-400">{{forum.createdAt | date:'d MMM y, h:mm a'}}</span>
        </a>
        <ng-container *ngFor="let i of [0,1,2,3]">
            <div *ngIf="loading" class="w-full h-40 bg-gray-200 animate-pulse"></div>
        </ng-container>
    </div>
</div>