<div class="container">
    <div class="p-4">
        <h1 class="font-bold text-3xl">Forum</h1>
    </div>
    <div class="max-w-sm grid grid-flow-row divide-y divide-gray-700">
        <a class="w-full grid grid-cols-5 p-4 border-2 bg-white drop-shadow-sm focus:scale-95">
            <div class="col-span-1 justify-center bg-yellow-200">
                <div class="w-12 h-12 bg-gray-400 rounded-full"></div>
            </div>
            <div class="col-span-4 bg-blue-200">
                Content
            </div>
        </a>
    </div>
</div>