<div class="flex min-h-screen items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-16">
        <div>
            <img class="mx-auto h-16 w-auto" src="/assets/icons/barista101-logo.png" alt="Barista 101">
            <h2 class="mt-4 text-center text-3xl font-bold tracking-tight">Sign Up</h2>
        </div>

        <form class="mt-2 space-y-6">
            <div class="space-y-4 rounded-md shadow-sm">
                <div>
                    <label for="email" class="sr-only">Email address</label>
                    <input name="email" type="email" autocomplete="email" required
                        class="input-text"
                        placeholder="Email Address">
                </div>
                <div>
                    <label for="fullname" class="sr-only">Full Name</label>
                    <input name="fullname" type="text" autocomplete="text" required
                        class="input-text"
                        placeholder="Full Name">
                </div>
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input name="username" type="text" autocomplete="text" required
                        class="input-text"
                        placeholder="Username">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input name="password" type="password" autocomplete="password" required
                        class="input-text"
                        placeholder="Password">
                </div>
                <div>
                    <label for="confirmPassword" class="sr-only">Confirm Password</label>
                    <input name="confirmPassword" type="password" autocomplete="password" required
                        class="relative block w-full appearance-none rounded-md border border-gray-400 px-3 py-2 placeholder-gray-500 focus:z-10 focus:border-gray-700 focus:outline-none focus:ring-gray-700 focus:shadow-sm sm:text-sm"
                        placeholder="Confirm Password">
                </div>
            </div>

            <div>
                <button type="submit" class="button-primary w-full">Sign Up</button>
            </div>
        </form>

        <div class="flex items-center justify-center">
            <div class="text-sm">
                <span>Already have an account? </span>
                <a routerLink="/signin" class="font-medium text-blue-400 hover:text-blue-600">Sign In</a>
            </div>
        </div>
    </div>
</div>