<div class="container p-4">
    <div class="flex flex-row items-center justify-between">
        <h1 class="font-bold text-3xl">Category</h1>
        <button (click)="openAddDialog()" class="button-primary flex items-center space-x-1.5">
            <hero-icon name="plus" type="solid" class="w-4 h-4 text-white fill-white"></hero-icon>
            <span class="text-sm">Add Category</span>
        </button>
    </div>
    <div class="inline-flex space-x-4 my-4">
        <a *ngFor="let category of recipeCategories" [routerLink]="['./',category.id]" class="py-2 px-3 text-sm rounded-full bg-orange-100 shadow-inner focus:font-medium focus:text-white focus:bg-brown focus:shadow-md">
            <span>{{category.name}}</span>
        </a>
    </div>
</div>