<div class="container p-4">
    <div>
        <h1 class="font-bold text-3xl">Course Details</h1>
    </div>
    <div class="w-full flex flex-row space-x-8 my-3">
        <img *ngIf="course" [src]="thumbnailUrl+course.id" [src]="thumbnailUrl+course.id" class="w-72 objec rounded-lg">
        <div *ngIf="loading" class="w-72 h-40 rounded-lg bg-gray-200 animate-pulse"></div>
        <div class="flex flex-col justify-center space-y-4">
            <div class="block">
                <h3 class="text-lg font-semibold">Title</h3>
                <span *ngIf="course">{{course.title}}</span>
                <div *ngIf="loading" class="w-full h-4 rounded-lg bg-gray-200 animate-pulse"></div>
            </div>
            <div class="block">
                <h3 class="text-lg font-semibold">Description</h3>
                <p *ngIf="course" class="text-justify">{{course.description}}</p>
                <div *ngIf="loading" class="w-full h-4 rounded-lg bg-gray-200 animate-pulse"></div>

            </div>
        </div>
    </div>

    <app-module-list></app-module-list>
</div>