<div class="container w-full h-full p-4 bg-white">
    <div class="relative flex items-center justify-center">
        <h1 class="font-bold text-2xl">Edit Profile</h1>
    </div>
    <form [formGroup]="accountForm" (ngSubmit)="editAccount()" class="flex flex-col space-y-4 tracking-wide">
        <div class="flex items-center justify-center py-4">
            <div (click)="fileInput.click()" class="relative w-20 h-20 bg-gray-50 cursor-pointer">
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Profile Image" class="object-cover w-full h-full rounded-full border border-gray-300">
                <input #fileInput accept="image/*" type="file" class="hidden" (change)="onSelectFile($event)"/>
                <div class="absolute -bottom-1 right-0 w-7 h-7 flex items-center justify-center p-1 rounded-full bg-red-800">
                    <hero-icon name="camera" type="outline" class="w-5 h-5 text-white"></hero-icon>
                </div>
            </div>
        </div>
        <div class="space-y-1">
            <label for="fullname" class="font-medium">Fullname</label>
            <input type="text" placeholder="Enter fullname" class="input-text" formControlName="fullname">
        </div>
        <div class="space-y-1">
            <label for="username" class="font-medium">Username</label>
            <input type="text" placeholder="Enter username" class="input-text" formControlName="username">
        </div>
        <div class="space-y-1">
            <label for="email" class="font-medium">Email</label>
            <input type="text" placeholder="Enter email" class="input-text" formControlName="email">
        </div>
        <div class="flex flex-col items-center justify-center space-y-3 py-12">
            <button type="submit" class="w-2/3 button-primary">Save</button>
            <button routerLink=".." type="button" class="w-2/3 button-secondary">Cancel</button>
        </div>
    </form>
</div>