<div class="container p-4 bg-white">
    <div class="flex flex-row items-center justify-between">
        <h1 class="font-bold text-3xl">Add Thread</h1>
        <a routerLink=".." class="rounded-full p-1 hover:bg-gray-200 active:scale-95">
            <hero-icon name="x" type="outline" class="w-6 h-6 text-inherit"></hero-icon>
        </a>
    </div>
    <form [formGroup]="forumForm" (ngSubmit)="addForum()" class="flex flex-col space-y-4 my-3 tracking-wide">
        <div class="space-y-1">
            <label for="body" class="font-medium">Body*</label>
            <textarea rows="10" placeholder="Enter thread content" class="input-text" formControlName="body"></textarea>
        </div>
        <div class="flex items-center justify-evenly space-x-4">
            <button type="reset" class="w-full button-secondary">Reset</button>
            <button type="submit" [disabled]="forumForm.invalid" class="w-full button-primary">Submit</button>
        </div>
    </form>
</div>
<ng-container *ngIf="loading">
    <app-loading-dialog label="Creating thread"></app-loading-dialog>
</ng-container>