<div class="container p-4 bg-white">
    <div class="flex items-center justify-center">
        <h1 class="font-bold text-3xl">Change Password</h1>
    </div>
    <form [formGroup]="accountForm" (ngSubmit)="editAccount()" class="flex flex-col space-y-4 py-12 tracking-wide">
        <div class="space-y-1">
            <label for="currPassword" class="font-medium">Current Password</label>
            <input type="text" placeholder="Enter current password" class="input-text" formControlName="currPassword">
        </div>
        <div class="space-y-1">
            <label for="newPassword" class="font-medium">New Password</label>
            <input type="text" placeholder="Enter new password" class="input-text" formControlName="newPassword">
        </div>
        <div class="flex flex-col items-center justify-center space-y-3 py-12">
            <button type="submit" class="w-3/4 button-primary">Save</button>
            <button type="button" [routerLink]="['..']" class="w-3/4 button-secondary">Cancel</button>
        </div>
    </form>
</div>
<ng-container *ngIf="loading">
    <app-loading-dialog label="Updating profile"></app-loading-dialog>
</ng-container>