<div class="container flex flex-col space-y-4 p-4">
    <a *ngFor="let module of modules" routerLink="../module/{{module.id}}" class="grid grid-cols-5 items-center shadow-md rounded-sm bg-white hover:shadow-lg hover:-translate-y-0.5 focus:scale-95">
        <div class="col-span-1 p-2">
            <img src="{{thumbnailUrl+module.id}}" alt="Module Thumbnail" class="object-cover aspect-square rounded-lg">
        </div>
        <div class="col-span-3 p-2">
            <div class="flex flex-col justify-between">
                <span class="font-medium text-sm sm:text-base">{{module.title}}</span>
                <span class="text-xs sm:text-sm">Click to start learning</span>
            </div>
        </div>
        <div class="col-span-1 p-2">
            <div class="flex items-center justify-center">
                <hero-icon name="play" type="solid" class="w-8 h-8 text-inherit fill-gray-900"></hero-icon>
            </div>
        </div>
    </a>
    <ng-container *ngFor="let i of [0,1,2,3,4,5]">
        <div *ngIf="loading" class="w-full h-14 bg-gray-200 rounded-sm animate-pulse"></div>
    </ng-container>
</div>