<app-back-navigation label="Dose"></app-back-navigation>
<div class="container p-4">
    <div>
        <h1 class="font-bold text-3xl">Dose Amount</h1>
    </div>
    <form [formGroup]="doseForm" (ngSubmit)="editDose()" class="flex flex-col divide-y-2 my-3 tracking-wide">
        <div class="inline-flex items-center justify-between space-x-1 py-2">
            <label for="cups" class="font-medium text-sm">Cups</label>
            <div class="w-auto inline-flex">
                <input type="number" class="w-12 form-input" [value]="cups">
                <button (click)="decrement()" class="px-4 py-1 font-medium text-white rounded-l-lg bg-brown">-</button>
                <button (click)="increment()" class="px-4 py-1 font-medium text-white rounded-r-lg bg-brown">+</button>
            </div>
        </div>
        <div class="inline-flex items-center justify-between space-x-1 py-2">
            <label for="coffee" class="font-medium text-sm">Coffee (gr)</label>
            <input type="number" class="w-20 form-input hide-button" formControlName="coffee">
        </div>
        <div class="inline-flex items-center justify-between space-x-1 py-2">
            <label for="ratio" class="font-medium text-sm">Ratio</label>
            <select class="w-20 form-input" formControlName="ratio">
                <option *ngFor="let number of ratios" [value]="number" class="text-inherit text-sm">1 : {{number}}</option>
            </select>
        </div>
        <div class="flex items-center justify-evenly space-x-4 py-4">
            <button type="submit" [disabled]="doseForm.invalid" class="w-full button-primary">Done</button>
        </div>
    </form>
</div>
<ng-container *ngIf="loading">
    <app-loading-dialog label="Updating dose amount"></app-loading-dialog>
</ng-container>