<app-back-navigation label="Simulation"></app-back-navigation>
<div class="container tracking-wide">
    <div class="flex flex-col items-center space-y-4 p-4">
        <div class="flex items-center justify-center py-6">
            <span class="font-roboto text-5xl text-center tracking-wider">{{format(mm)}}:{{format(ss)}}</span>
        </div>

        <div class="w-full max-w-sm flex items-center justify-center p-8 rounded-full bg-orange-100 border-8 border-orange-200 focus:scale-95">
            <div class="w-full aspect-square flex items-center justify-center rounded-full bg-orange-200">
                <span class="font-medium text-4xl">30 gr</span>
            </div>
        </div>

        <div class="w-full max-w-md flex flex-col items-center justify-center space-y-6">
            <div class="h-14 flex items-center justify-center p-2">
                <span class="font-medium text-center">{{currStep}}</span>
            </div>
            <div class="inline-flex items-center space-x-8">
                <button class="focus:scale-95">
                    <hero-icon name="rewind" type="solid" class="w-10 h-10 text-brown fill-brown"></hero-icon>
                </button>
                <button (click)="toggleTimer()" class="active:scale-95">
                    <hero-icon [name]="isRunning ? 'pause':'play'" type="solid" class="w-20 h-20 text-brown fill-brown"></hero-icon>
                </button>
                <button class="focus:scale-95">
                    <hero-icon name="fast-forward" type="solid" class="w-10 h-10 text-brown fill-brown"></hero-icon>
                </button>
            </div>
        </div>
    </div>
</div>