<div class="fixed block inset-x-0 bottom-0 z-10 border-t bg-white">
    <div class="flex items-center justify-evenly">
        <a *ngFor="let menu of menus" [routerLink]="menu.link" routerLinkActive="active" #rla="routerLinkActive" class="w-full flex flex-col items-center justify-center space-y-0.5 rounded-md m-1.5 font-medium active:bg-gray-50">
            <hero-icon [name]="menu.icon" [type]="rla.isActive ? 'solid':'outline'" class="w-5 h-5 text-inherit" [class]="rla.isActive ? 'fill-gray-900':''"></hero-icon>
            <span class="text-xs">{{menu.label}}</span>
        </a>
    </div>
</div>