<div class="bg-white block fixed inset-x-0 bottom-0 z-10 shadow">
    <div class="flex items-center justify-around py-3">
        <a href="" class="flex flex-col items-center justify-center space-y-0.5">
            <hero-icon name="academic-cap" type="solid" class="w-5 h-5 text-inherit fill-gray-900"></hero-icon>
            <span class="text-xs font-semibold">Course</span>
        </a>
        <a href="" class="flex flex-col items-center justify-center space-y-0.5">
            <hero-icon name="chat-alt-2" type="solid" class="w-5 h-5 text-inherit"></hero-icon>
            <span class="text-xs font-medium">Forum</span>
        </a>
        <a href="" class="flex flex-col items-center justify-center space-y-0.5">
            <hero-icon name="clipboard-list" type="solid" class="w-5 h-5 text-inherit"></hero-icon>
            <span class="text-xs font-medium">Recipe</span>
        </a>
        <a href="" class="flex flex-col items-center justify-center space-y-0.5">
            <hero-icon name="puzzle" type="solid" class="w-5 h-5 text-inherit"></hero-icon>
            <span class="text-xs font-medium">Simulation</span>
        </a>
    </div>
</div>