<div *ngIf="!isCompleted" class="container p-2">
    <div *ngIf="currentContent">
        <div class="relative bg-orange-100 rounded-t-lg">
            <div class="absolute flex items-center top-3 right-3 z-10 px-3 py-1.5 rounded-full shadow-md bg-gray-800">
                <span class="text-xs text-white">{{currentPage+1}} of {{contents.length}} Pages</span>
            </div>
            <div class="block pt-14 px-6">
                <h1 class="font-semibold text-xl">{{currentContent.title}}</h1>
                <div class="text-justify py-3" [innerHTML]="currentContent.body"></div>
            </div>
        </div>
        <div class="bg-orange-100 rounded-b-lg">
            <div class="flex flex-row items-center justify-evenly space-x-4 p-6">
                <button [disabled]="currentPage == 0" (click)="previousPage()" class="button-primary w-full">Back</button>
                <button *ngIf="currentPage != (contents.length-1)" (click)="nextPage()" class="button-primary w-full">Next</button>
                <button *ngIf="currentPage == (contents.length-1)" (click)="finish()" class="button-primary w-full">Finish</button>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="loading">
    <div class="absolute inset-0 flex flex-col items-center justify-center space-y-4">
        <div class="border-4 border-r-transparent border-gray-800 rounded-full p-6 animate-spin"></div>
        <span class="font-medium">Loading contents...</span>
    </div>
</ng-container>

<ng-container *ngIf="isCompleted">
    <app-module-completed [module]="module"></app-module-completed>
</ng-container>