<div class="relative max-w-md mx-6 p-6 bg-white rounded-md sm:mx-0">
    <button (click)="closeDialog()" class="absolute top-4 right-4 rounded-full p-1 hover:bg-gray-200 active:scale-95">
        <hero-icon name="x" type="outline" class="w-6 h-6 text-inherit"></hero-icon>
    </button>
    <div class="flex flex-col space-y-4">
        <h1 class="font-semibold text-xl">{{data.title}}</h1>
        <p class="text-justify">{{data.description}}</p>
        <div class="flex items-center justify-evenly space-x-4">
            <button (click)="confirm()" class="w-full button-primary">Yes</button>
            <button (click)="cancel()" class="w-full button-secondary">Cancel</button>
        </div>
    </div>
</div>